.section4 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.blue-box {
  /* width: 1000px;
  height: 150px; */
  background-color: rgb(58, 146, 240);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 30px 60px;
}

.left4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.title4 {
  font-weight: bold;
  font-size: 24px;
}

.button4 {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
  font-size: 15px;
}

.right4 {
  display: flex;
  align-items: center;

}